{% extends 'layouts/base.html' %}
{% load static %}
{% load helpers %}
{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            {% include 'includes/_carousel.html' %}
        </div>
        <div class="col-3">
            {% include 'includes/_banner.html' %}
        </div>
    </div>
    <div class="mt-3">
        <h2>Ko'p tanlangan mahsulotlar</h2>
    </div>

    <div class="slick-slider center position-relative">
        {% for p in product %}
            <div class="p-1">
                <div class="p-4">
                    <a href="">
                        <div class="card">
                            <div class="body">
                                <img src="{{ p.img.url }}" class="card-pic d-flex mx-auto" height="180px">
                            </div>
                            <div class="card-footer" style="height: 240px">
                                <a class="text-muted card-cat" href="#"
                                   style="text-decoration: none; font-size: 14px">{{ p.name_uz }}</a>
                                <div>
                                    <a href="#" style="text-decoration: none; color: black"
                                       class="card-cat">{{ p.info | truncatechars:40 }}</a>
                                </div>
                                <i class="bi bi-star-fill text-muted"></i>
                                <i class="bi bi-star-fill text-muted"></i>
                                <i class="bi bi-star-fill text-muted"></i>
                                <i class="bi bi-star-fill text-muted"></i>
                                <i class="bi bi-star-fill text-muted"></i>
                                <p class="mt-1 text-muted" style="font-size: 12px">
                                    1874000 сум/мес
                                </p>
                                <span class="text-danger"
                                      style="font-size: 14px; text-decoration: line-through">20 709 000 сум</span>
                                <br>
                                <span class="text-dark" style="font-weight: bold; font-size: 18px">{{ p.price | price_filter }}So'm</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-3">
        <h2>Yangi mahsulotlar</h2>
    </div>
    <div>
        <h2>Kategoriyalar</h2>
        {% include 'includes/_categoriya.html' %}
    </div>
    <div class="mt-5">
        <h2>Olcha onlayn do'koni - xarid qilish uchun qulay gipermarket</h2>
        <p class="main-p">O‘zbekistonda elektron tijorat jadallik bilan rivojlanib bormoqda. Yurtimiz aholisi ham
            tez-tez internet orqali tovarlarni sotib olmoqda. Nega endi olchada eng yangi telefon yoki smartfonni
            topsangiz, uni qidirib bir do‘kondan boshqasiga o‘tishni xohlaysiz? Bitta klik bilan Olchada nafaqat mobil
            telefonlar, balki zamonaviy noutbuklar kabi elektronika, planshetlar, aqlli soatlar va mobil aksessuarlar
            kabi zamonaviy texnikalar xarid qilishingiz mumkin. Hayot tarzi uchun poyabzal, kiyim va aksessuarlar;
            divanlar, ovqatlanish stollari va shkaflar kabi zamonaviy mebellardan, hayotingizni yengillashtiradigan
            maishiy texnika, masalan kir yuvish mashinalari , televizorlar, konditsionerlar, Mikser va go‘sht
            maydalagich, blender va sharbat siqqichlar xayotingizni yengillashtirishga ko‘mak beradi. Biz Siz uchun uy
            jihozlari, yostiq sumkalari, zambil va choyshablardan o‘yinchoqlar va musiqa asboblariga qadar barchasini
            qo‘shdik . Siz bu erda sizni qiziqtirgan hamma narsani topishingizga amin bo‘lishingiz mumkin. Vaqti tig‘iz
            insonlar uchun Olcha eng yaxshi tanlovdir. Vaqtni istalgan paytida, istasangiz tunda yoki tong otganda
            pijamangizda istalgan joydan turib xarid qiling. Ushbu onlayn-do‘kon hech qachon ishlashdan to‘xtamaydi.</p>
        <p class="main-p">Bundan tashqari, bizning doimiy ravishda mahsulotlarga chegirmalar berib borishimiz sababli
            eng maqbul va arzon narxlarda xotirjam mahsulot xarid qilasiz. Ishonchimiz komilki, siz
            rejalashtirganingizdan ko‘proq narsani sotib olasiz. Agar nima uchun Olchada xarid qilish kerakligi haqida
            o‘ylayotgan bo‘lsangiz, unda sizning savolingizga javob quyida beriladi.</p>
    </div>
    <div class="mt-3">
        <h2>Olchada nimalarni sotib olish mumkin?</h2>
        <h3>Mobil telefonlar va smartfonlar</h3>
        <p class="main-p">Byudjet telefonlaridan tortib eng zamonaviy smartfonlarga qadar bizda hamma uchun mos mobil
            telefonlar mavjud. Agar sizga katta ekranlar, kuchli batareyalar, chaqmoqday tezkor protsessorlar, yuqori
            texnologiyali selfi kameralar yoki shunchaki katta xotira kerak bo‘lsa, biz sizga mosini topib beramiz.
            Samsung, Apple, Oppo, Xiaomi, Realme, Vivo, Honor, Huawei, BQ va boshqa ko‘plab eng mashhur brendlardan
            xarid qiling. Bizdan faqat eng ishonchli brendlardan sotib olishingiz mumkin. Bundan tashqari, mobil
            telefonlar rasmiy 1 yil kafolatga ega, va IMEI ro‘yxatidan o‘tgan.</p>
    </div>
    <div class="mt-3">
        <h3>Elektron qurilmalar va aksessuarlar</h3>
        <p class="main-p">Noutbuklar haqida gap ketganda, biz orqada emasmiz. Qisqa vaqt ichida saytimizdagi
            saralashlardan foydalanib o‘nlab tezkor operativ xotiralarni, qattiq disk hajmini, turmush tarzingizga
            mosini, ekran o‘lchamlari va boshqalarni filtrlang. Talabalar qaysi noutbukni sotib olishni bilmayapsizmi?
            Bizning do‘konimiz Hp Lenovo Asus Acer Apple kabi eng yaxshi brendlarning tavsiyalari bilan noutbuklarni
            maqsadlari bo‘yicha (o‘yinlar, filmlar va musiqa, va dars qilish uchun, loyihalashtirish ishlari, dizayn va
            boshqa ko‘plab vazifalar uchun) tasniflaydi , bu sizning xaridlaringizni osonlashtiradi va
            tezlashtiradi.</p>
        <p class="main-p">Hurmatli fotosuratlarni sevuvchilar Siz biznikidan yaxshiroq sahifa topa olmaysiz. Zamonaviy
            kameralar, abadiy ishonchli kameralar va linzalar, sevimli lahzalarni muhrlash uchun kameralar yoki
            sarguzashtlarni sevuvchilar uchun harakat kameralari: bizning kameralarimiz rasmga olishni yangi
            boshlaganlar va professional mutaxassislar uchun juda mos keladi. Bizdan dunyoga mashhur Canon, Nikon,
            GoPro, Sony va Fujifilm kabi taniqli brendlar ishlab chiqaruvchi foto va video qurilmalar va ularning
            aksessuarlarini topishingiz mumkin.</p>
        <p class="main-p">O‘zingizning uyingizni ajoyib ovozli va yuqori sifatli kinoteatrga aylantiring. Ajoyib
            taassurot olish uchun Sony, LG JBL va Philips Tower soundbar karnaylari va uy kinoteatrlarini sinchkovlik
            bilan tizimimizdan tanlang. Audio vositalaridan, quvvatlagichlardan, xotira kartalaridan, mobil zaryadlovchi
            qurilmalardan tortib selfi tayoqchalariga qadar turli xil mobil aksessuarlarimiz siz va sizning telefoningiz
            uchun eng yaxshi sayohat hamrohi bo‘lishi mumkin; Keyingi taʼtilda zaryadingiz yoki xotirangiz tugamasligi
            haqida hech qachon tashvishlanmang. </p>
    </div>

    <div class="mt-3">
        <h3>Katta maishiy texnika</h3>
        <p class="main-p">Chiroyli televizorlar, energiyani tejaydigan muzlatgichlar, tez sovitadigan konditsionerlar,
            kir yuvish mashinalari - uyingizni bitta tugma bilan boshqarish uchun kerak bo‘lgan hamma narsani kashf
            eting. Bizning ishonchli do‘konimiz, agar yetkazib berish paytida biror korxol ro‘y bersa, almashtirish
            kafolati bilan etkazib berishni zimmasiga oladi. Sizning qulayligingizga muvofiq etkazib berish, shuningdek
            rasmiy brend kafolatiga to‘liq ishonishingiz mumkin. Samsung, Lg, Ziffler, Midea, Mi, Artel, Shivaki,
            Ziffler, Sony, Beko, Gree va boshqa ko‘plab mashhur brendlar tomonidan ishlab chiqarilgan bozorning oldi
            mahsulotlarini bizdan xarid qiling.</p>
    </div>

    <div class="mt-3">
        <h3>Kichik maishiy texnika</h3>
        <p class="main-p">Sizning hayotingizni yengillashtiradigan qulay va amaliy maishiy texnikani toping:
            changyutgichlar, tikuv mashinalari, mini yuvish mashinalari, suv isitgichlar, elektr choynaklar,
            mikroto‘lqinli pechlar, sendvich tayorlagichlar, qo‘l aralashtirgichlar, kofe qaynatgichlar va boshqa
            ko‘plab maishiy texnika vaqtni tejaydigan va tezroq turmush tarzi uchun mo‘ljallangan. Uyda ushbu jihozlar
            bilan shohona hayot kechiring.</p>
    </div>

    <div class="mt-3">
        <h3>Uy va ko‘cha uchun mebel</h3>
        <p class="main-p">Yangi joyga ko‘chib o‘tish hech qachon oson bo‘lmaydi, ayniqsa yangi mebel sotib olsangiz.
            To‘shaklar, divanlar, ovqatlanish stollari, shkaflar, televizorlar - hamma narsani qayta sozlash oson emas.
            Tanlash uchun yuzlab variantlar bilan juda ko‘p vaqt ketishi mumkin. Qaysi joy ishonchli, qaysi mebel vaqt
            sinovidan o‘tadi? Do‘konni tanlashdan oldin o‘zingizga bu savollarni berishingiz kerak. Bizning mebel
            do‘konimiz nafaqat zamonaviy O‘zbekistonlik isteʼmolchining talablariga moslashtirilgan bir qator
            mebellarni, balki sertifikatlangan mebellarni ham taqdim etadi ular sizga ko‘p yillar xizmat qiladi.Siz
            barcha mebellarga ega bo‘lishingiz mumkin, ammo qo‘shimcha dekorsiz uyingiz bo‘m bo‘sh ko‘rinishi mumkin.
            Pardalar, yostiq choyshablari, choyshablar, devor javonlari, rasmlar, pol lampalari - Olchada uyni bir tom
            ostida shinam qasrga aylantiradigan hamma narsani toping.</p>
    </div>

    <div class="mt-3">
        <h3>Telefonlar:</h3>
        <p class="main-p">Samsung A52 | Samsung A32 | Samsung A41 | Samsung S21 Plus 5G | Samsung A31 | Redmi Note 9T 5G
            | Xiaomi Poco M3 | Xiaomi Mi 10T Pro | Xiaomi Note 9 | Realme 6 Pro | Realme 7 | Vivo Y31 | Vivo V20 | Redmi
            Note 10 Pro | Xiaomi Mi 11 Lite</p>
    </div>

    <div class="mt-3">
        <h3>Televizorlar:</h3>
        <p class="main-p">Samsung SmartTV 43" | Samsung 50 4K | Samsung 65 4K SmartTV | Artel 50 SmartTV | Artel 32
            FullHD | Artel 43 | Artel 49 | LG 43 UHD TV | LG 55 OLED TV | Sony SmartTV | Sony 4K TV | Ziffler 43 FullHD
            | Ziffler LED TV | Premier TV</p>
    </div>
    <div class="mt-3">
        <h3>Kir yuvish moshinalari:</h3>
        <p class="main-p">Samsung 7kg | Samsung 6kg | LG 7kg | LG 6kg | Artel 6kg | Artel 8kg | Ziffler 6kg | Ziffler
            8kg | Hofmann 6kg | Hoffmann 8kg | Deawoo 9kg | Deawoo 7kg | Immer 6kg | Immer 8kg</p>
    </div>
{% endblock %}