{% load static %}
<div class="row mt-5 mb-5">
    <div class="col-3">
        <img src="{% static 'img/logo.svg' %}">
        <p class="mt-4">Olcha © 2021. Barcha huquqlar himoyalangan</p>
    </div>
    <div class="col-4 mt-3" style="line-height: 1.5rem">
        <div>
            <a href="" class="footer-p">Shaxsiy ma’lumotlar bilan ishlash siyosati</a>

        </div>
        <div>
            <a href="" class="footer-p">Yordam</a>
        </div>
        <div>
            <a href="" class="footer-p">Muddatli to’lov shartlari</a>
        </div>
        <div>
            <a href="" class="footer-p">Biz xaqimizda</a>
        </div>
    </div>
    <div class="col-3 mt-3">
        <div>
            <a href="" class="footer-p">Ommaviy</a>
        </div>
        <div>
            <a href="" class="footer-p">Eco-friendly</a>
        </div>
        <div>
            <a href="" class="footer-p">To‘lov va yetkazib berish xizmati</a>
        </div>
    </div>
    <div class="col-2 bg-light border rounded">
        <p class="text-center mt-3"><b>Ishonchli Raqam</b></p>
        <p class="text-center">+998(94)174-45-67</p>
    </div>
</div>